body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #040000;
    background-color: #ffffff;
    font-size: 18px;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.heading_container h2 {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: italic;
    /*font-size: 20px;*/
    color: #E96F24;
}

.investment {
    font-size: 20px;
}

.about-section {
    font-size: 20px;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

/*header section*/
.hero_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #829F3D;
}

.sub_page .hero_area {
    min-height: auto;
}

.header_section {
    background-color: #fff;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item .nav-link {
    padding: 10px 20px;
    text-align: center;
    color: #222426;
    position: relative;
    font-size: 16px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn, .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 25px;
}

.custom_nav-container {
    z-index: 99999;
    padding: 0;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #000000;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
    top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

.navbar-brand span {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    text-align: right;
}

.user_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.user_option a {
    background-color: #f1f1f1;
    padding: 12px 16px;
    border-radius: 8px;
    color: #222426;
    font-size: 16px;
}

/*end header section*/
/* slider section */
.slider_section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 0 20px 0;
    color: #ffffff;
}

.slider_section .box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.slider_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section div#carouselExampleControls {
    overflow: hidden;
}

.slider_section .detail-box h1 {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: italic;
    padding-right: 30px;
}

.slider_section .detail-box p {
    font-size: 18px;
}

.slider_section .detail-box a {
    display: inline-block;
    padding: 8px 35px;
    background-color: #E96F24;
    border: 1px solid #E96F24;
    color: #ffffff;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 50px;
}

.slider_section .detail-box a:hover {
    background-color: transparent;
    color: #FFFF00;
}

.slider_section .img-box img {
    width: 100%;


}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    opacity: 1;
    top: 50%;
    border-radius: 5px;
    font-size: 28px;
    color: #829F3D;
}

.slider_section .carousel-control-prev:hover,
.slider_section .carousel-control-next:hover {
    opacity: 0.9;
}

.slider_section .carousel-control-prev {
    left: 20px;
}

.slider_section .carousel-control-next {
    right: 20px;
}

/* end slider section */

/*

header button start
*/

.book_header_section .book_form {
    margin-top: 15px;
}


.book_header_section .book_form .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.book_header_section .book_form .btn-box button {
    display: inline-block;
    background-color: #E96F24;
    border: 1px solid #E96F24;
    color: #ffffff;
    border-radius: 25px;
}

.book_header_section .book_form .btn-box button:hover {
    background-color: transparent;
    color: #E96F24;
}

/* END*/
.book_section .book_form {
    background-color: #ffffff;
    padding: 25px 25px 25px 25px;
    margin: -90px auto 0 auto;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.book_section .book_form .form-group {
    margin-bottom: 20px;
    position: relative;
}

.book_section .book_form .form-group .select_arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #585858;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
}

.book_section .book_form .input-group-text {
    background-color: #829F3D;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 25px 0 0 25px
}

.book_section .book_form .form-control {
    height: 50px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 0 25px 25px 0
}

.book_section .book_form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.book_section .book_form .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.book_section .book_form .btn-box button {
    display: inline-block;
    padding: 8px 65px;
    background-color: #E96F24;
    border: 1px solid #E96F24;
    color: #ffffff;
    border-radius: 25px;
    margin: 15px;
}

.book_section .book_form .btn-box button:hover {
    background-color: transparent;
    color: #E96F24;
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 8px 30px;
    background-color: #E96F24;
    border: 1px solid #E96F24;
    color: #ffffff;
    border-radius: 25px;
}

.about_section .detail-box a:hover {
    background-color: transparent;
    color: #E96F24;
}

.about_section .img-box img,
.about_section .img-box-uk img,
.about_section .img-box-en img {
    width: 100%;
    border-radius: 75px;
}


.why_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 90px;
    padding: 25px 25px 45px 25px;
    background: #829F3D;
    color: #ffffff;
}

.why_section .box.b2 {
    margin-top: 45px;
}

.why_section .box .img-box {
    min-width: 90px;
    min-height: 90px;
    max-width: 90px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100%;
    background-color: #ffffff;
}

.why_section .box .img-box img {
    width: 45px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.why_section .box .detail-box h5 {
    font-weight: 600;
}

.why_section .box .detail-box p {
    margin: 0;
}

.app_section {
    background-color: #829F3D;
}

.app_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.app_section .detail-box h5 {
    color: #fff;
}

.app_section .detail-box .heading_container h2 {
    color: #fff;
}

.app_section .detail-box .heading_container p {
    color: #fff;
}

.app_section .detail-box .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.app_section .detail-box a {
    width: 175px;
    margin: 5px;
}

.app_section .detail-box a img {
    width: 100%;
    border-radius: 5px;
}

.app_section .img-box img {
    width: 100%;
}

.client_section .heading_container {
    margin-bottom: 35px;
}

.client_section .carousel-indicators {
    position: unset;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
}

.client_section .carousel-indicators li {
    text-indent: unset;
    width: 60px;
    height: 60px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 5px;
}

.client_section .carousel-indicators li img {
    width: 100%;
    border-radius: 100%;
}

.client_section .carousel-indicators li.active {
    width: 90px;
    height: 90px;
}

.client_section .detail-box {
    text-align: center;
}

.client_section .detail-box h5 {
    font-weight: 600;
}

.client_section .detail-box p {
    position: relative;
}

.client_section .detail-box p i {
    position: absolute;
    font-size: 48px;
    z-index: -1;
    color: #eef1f5;
}

.client_section .detail-box p i.fa-quote-left {
    top: -10px;
    left: 0;
}

.client_section .detail-box p i.fa-quote-right {
    bottom: 0;
    right: 0;
}

.blog_section .heading_container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.blog_section .heading_container h2::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.blog_section .box {
    margin-top: 45px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    padding: 25px;
}

.blog_section .box .img-box {
    position: relative;
}

.blog_section .box .img-box img {
    width: 100%;
}

.blog_section .box .detail-box {
    margin-top: 15px;
}

.blog_section .box .detail-box .blog_date {
    color: #829F3D;
    font-weight: 600;
}

.blog_section .box .detail-box h5 {
    font-weight: bold;
}

.blog_section .box .detail-box p {
    font-size: 15px;
}

.blog_section .box .detail-box a {
    display: inline-block;
    padding: 7px 30px;
    background-color: #E96F24;
    border: 1px solid #E96F24;
    color: #ffffff;
    border-radius: 0;
}

.blog_section .box .detail-box a:hover {
    background-color: transparent;
    color: #E96F24;
}


/**
 * 
**/

.social_header {
    justify-content: center;
    padding-top: 10px;
}

.social_header .social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.social_header .social_box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 1px solid #1b1f71;
    color: #1b1f71;
    font-size: 18px;
    margin-right: 10px;
}

.social_header .social_box a:hover {
    color: #E96F24;
    border-color: #E96F24;
}

/**
 * 
**/

.info_section_header {
    color: #ffffff;
    justify-content: center;
    display: flex;
    margin-top: 10px;

}

.info_section_header .text-danger {
    font-size: 65%;
    padding-right: 5px;
    padding-top: 5px;
}

.info_section_header .info_form form {
    display: inline-flex;
    margin-right: 5%;
    margin-left: -5%;
}

.info_section_header .info_form input {
    width: 150px;
    border: none;
    margin-bottom: 0px;
    background-color: #eaeaea;
    outline: none;
    color: #101010;
    padding: 0px;
    padding-left: 25px;
    border-radius: 25px;
}

.info_section_header .info_form button {
    background-color: #E96F24;
    border: 1px solid #E96F24;
    color: #ffffff;
    border-radius: 25px;
    margin: 0px;
    margin-left: 10px;
}

/**
 * 
 * */

.info_section {
    background-color: #829F3D;
    color: #ffffff;
    padding-top: 45px;
    padding-bottom: 10px;
}

.info_section .row > div {
    margin-bottom: 35px;
}

.info_section .contact_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info_section .contact_nav a {
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-bottom: 10px;
}

.info_section .contact_nav a i {
    font-size: 22px;
    margin-right: 10px;
}

.info_section .contact_nav a:hover {
    color: #FFFF00;
}

.location {
    margin-left: 10px;
}

.phone {
    margin-left: 05px;
}

.email-icon::before {
    content: "@";
    font-family: Arial, sans-serif;
}

.info_section h4 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.info_section .social_box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
}

.info_section .social_box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    margin-right: 10px;
}

.info_section .social_box a:hover {
    color: #E96F24;
    border-color: #E96F24;
}

.info_section .info_form input {
    width: 100%;
    border: none;
    height: 45px;
    margin-bottom: 0px;
    padding-left: 24px;
    background-color: #eaeaea;
    outline: none;
    color: #101010;
    border-radius: 25px;
}

.info_section .info_form button {
    display: inline-block;
    padding: 10px 45px;
    background-color: #E96F24;
    border: 1px solid #E96F24;
    color: #ffffff;
    border-radius: 25px;
    margin-top: 15px;
}

.info_section .info_form button:hover {
    background-color: transparent;
    color: #FFFF00;
}

/* footer section*/
.footer_section {
    position: relative;
    text-align: center;
    background-color: #829F3D;
}

.footer_section p {
    color: #fefefe;
    padding: 25px 0;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
}

.footer_section p a {
    color: inherit;
}

.tabs__contents .tabs__content {
    display: none;
}

.tabs__contents .tabs__content.is-active {
    display: block;
}

/*# sourceMappingURL=style.css.map */

#order-modal {
    position: fixed;
    left: 3vw;
    top: 3vh;
    width: 94vw;
    height: 94vh;
    z-index: 1021;
}

#order-modal:before {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .65);
    content: '';
    z-index: -1;
}

#order-modal #map {
    width: 100%;
    height: 100%;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.modal-taxi {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content-taxi {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    color: #829F3D;
    font-size: 18px;
    line-height: 1.5;
}

.hidden {
    display: none;
}

.input-group .iti {
    flex: 1
}

.container {
    text-align: center;
}

.form_radio_btn {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}

.form-group.col-md-11:first-child {
    margin-top: 20px;
}

.form_radio_btn input[type=radio] {
    display: none;
}

.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #E96F24;
    border-radius: 25px;
    user-select: none;
}

.form_radio_btn input[type=radio]:checked + label {
    background: #E96F24;
}

.form_radio_btn label:hover {
    color: #666;
}

.form_radio_btn input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}

input[type="radio"]:checked + label {
    color: white;
}

label {
    color: #E96F24;
}

.cover {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.services {
    padding: 100px 0;
    max-width: 100%;
}

.services-label {
    text-align: center;
    display: block;
    font-size: 18px;
}

.services-title {
    text-align: center;
    font-size: 36px;
    margin: 20px 0 40px;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.services-grid {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 20px;
}

.services-grid__item {
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, .05);
    flex-basis: calc(25% - 20px);
    position: relative;
    z-index: 0;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.services-grid__item:before {
    border-radius: 20px;
    z-index: -1;
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100px;
    content: '';
}

.services-grid__item figure {
    position: relative;
    border-radius: 20px;
}

.services-grid__item figure:before {
    padding-bottom: 65.5%;
    display: block;
    content: '';
}

.services-grid__item i {
    right: 20px;
    bottom: -45px;
    background: #FFB300;
    border-radius: 50%;
    position: absolute;
    width: 90px;
}

.services-grid__item i:before {
    padding-bottom: 100%;
    display: block;
    content: '';
}

.services-grid__item i img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 65%;
    max-height: 65%;
}

.services-grid__item h4 {
    padding: 20px 20px 0;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.services-grid__item p {
    padding: 20px;
}

.service-text.limited-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn.btn-primary {
    cursor: pointer;
    background-color: #E96F24;
    border: 1px solid #E96F24;
    color: #ffffff;
    border-radius: 25px;
    margin-left: 10px;
}

.btn-primary {
    color: #ffffff !important; /* Бажаний колір тексту з використанням !important */
}

.services-grid__item .btn {
    margin: 0 20px;
}

.rating {
    color: gold;
    font-size: 24px;
    margin-top: 10px;
}

.star-half {
    color: lightgrey;
}

#order-now {
    margin-top: -300px;
    padding-top: 300px;
    box-sizing: border-box;
}

/*Сторінка для спонсорів*/

.hero-banner-one {
    position: relative;
    padding: 0;
}

.hero-banner-one .bg-wrapper {
    background-color: #f5fff5;
    background-image: url(../images/assets/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0 80px;
    position: relative;
    z-index: 5;
}

.hero-banner-one .hero-heading {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -1px;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: left;
}

.hero-banner-one form {
    height: 55px;
    max-width: 570px;
    border-radius: 25px;
    background: #fff;
    position: relative;
    display: flex;
}

.main-illustration {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    width: auto !important
}

.hero-banner-one form input {
    font-size: 15px;
    font-weight: 500;
    padding: 0 25px;
    border: none;
    background: 0 0;
    outline: 0 none;
    height: 100%;
    flex: 1
}

.hero-banner-one form button {
    flex-basis: 120px;
    padding: 8px 25px;
    background-color: #E96F24;
    border: 1px solid #E96F24;
    color: #ffffff;
    border-radius: 25px;
}

.hero-banner-one .pr-info span {
    font-size: 1.6em;
    color: #FF8C24;
    font-weight: 700;
}

.hero-banner-one .illustration-holder {
    position: absolute;
    right: 6.7%;
    bottom: 0;
    width: 40.44%;
    max-width: 750px;
    z-index: 1;
    top: 50px
}

.hero-banner-one .illustration-holder .shape-one {
    left: 11.5%;
    bottom: 7%;
    width: 80%;
}

.hero-banner-one .illustration-holder .shape-two {
    left: 11%;
    top: 16%;
    animation: jumpTwo 3.5s linear infinite;
}

.hero-banner-one .illustration-holder .shape-three {
    left: -6%;
    top: 52%;
    animation: jumpThree 3.5s linear infinite;
}

.hero-banner-one .illustration-holder .shape-four {
    right: -4%;
    top: 50%;
    animation: jumpThree 3.5s linear infinite;
}

.hero-banner-one .illustration-holder .shape-five {
    right: 13%;
    top: 30%;
    animation: jumpTwo 3.5s linear infinite;
}

.hero-banner-one .illustration-holder .shape-six {
    top: 32%;
    left: 0;
    width: 15.74%;
    animation: jumpFour 3.5s linear infinite;
}

.hero-banner-one .illustration-holder .shape-seven {
    top: 14%;
    right: 0;
    width: 11.6%;
    animation: jumpFive 3.5s linear infinite;
}

.hero-banner-one .shape-eight {
    left: 10%;
    bottom: -25px;
    z-index: 0;
    animation: prXOne 3.5s linear infinite;
}

.text-decoration-underline {
    text-decoration: underline;
}

.shapes {
    position: absolute;
    z-index: -1;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.tx-dark {
    color: #000;
    text-align: left;
}

.text-lg {
    font-size: 19px;
    line-height: 1.67em;
    margin-bottom: 60px;
    text-align: left;
}

.lg-mb-40 {
    margin-bottom: 40px;
}

.lg-pt-30 {
    padding-top: 30px;
}

.pt-50 {
    padding-top: 50px;
}

.fs-20 {
    font-size: 18px;
}

.fw-500 {
    font-weight: 500;
}

.mt-35 {
    margin-top: 35px;
}

@keyframes jumpTwo {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes jumpThree {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes jumpFour {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes jumpFive {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes prXOne {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(0);
    }
}

/*services block*/

.fadeInLeft, .fadeInRight {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.fancy-feature-one {
    padding-top: 140px
}

.inner-content {
    padding-top: 30px
}

.services-title {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: italic;
    padding-right: 30px;
}

.services-text {
    padding-top: 20px;
}

.card-style {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 25px;
}

.card-style .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    padding: 15px;
    border-radius: 15px;
}

.fancy-feature-one .inner-content {
    max-width: 1644px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 30px
}

.fadeInUp {
    visibility: visible;
    animation-name: fadeInUp;
    flex: 0 0 auto;
    -ms-flex: 0 0 50%;
    max-width: 33.333333%;
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.inner-title {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: italic;
    padding-right: 30px;
    margin-bottom: 25px;
    margin-top: 35px;
    color: #000;
}

.inner-text {
    margin-bottom: 25px;
}

/*blog bloock*/

.blog-section-one {
    padding: 0;
    margin-top: 120px;
}

.blog-section-one .bg-wrapper {
    background-color: #e8faf3;
    z-index: 1;
}

.position-relative {
    padding-bottom: 100px;
    padding-top: 100px;
    position: relative;
}

.blog-section-one .shape-one {
    width: 49px;
    height: 49px;
    background: #17bd37;
    border-radius: 9px;
    right: 12%;
    top: -2%;
    animation: 30s linear infinite rotated;
}

.shapes {
    position: absolute;
    z-index: -1;
}

.blog-section-one .shape-two {
    display: none;
}

.blog-section-one .shape-two {
    bottom: -6%;
    right: 11%;
    z-index: 0;
    animation: 3.2s linear infinite jumpTwo;
}

.blog-section-one .shape-three {
    width: 70px;
    height: 70px;
    background: #ff8c24;
    border-radius: 13px;
    left: 11%;
    bottom: -3%;
    animation: 35s linear infinite rotated;
}

.align-items-center {
    align-items: center;
}

.title-style-one {
    text-align: left;
}

.main-title {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    font-size: 35px
}

.btn-blog {
    justify-content: flex-end!important;
    margin-left: auto!important;
    display: flex!important;
    flex: 0 0 auto;
    width: 42.66666667%;
}

body .btn-one {
    line-height: 48px;
    padding: 0 25px;
    font-size: 15px;
    color: #fff;
    border-radius: 25px;
    background: #E96F24;
    font-weight: 500;
}

.lg-pt-30 {
    padding-top: 30px !important;
}

.blog-meta-one {
    text-align: left;
    background: #fff;
    padding: 22px;
    border-radius: 25px;
    margin-top: 30px;
    transition: .3s ease-in-out;

}

.blog-meta-one .post-img {
    border-radius: 25px;
    overflow: hidden;
    margin: 0;
    width: 100%;
    display: block;
}

.post-data{
    margin-top: 25px;
}

.blog-meta-one .post-tag {
    line-height: 25px;
    border-radius: 25px;
    padding: 0 12px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.post-title{
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: italic;
    margin-top: 20px;
}

.postInUp {
    visibility: visible;
    animation-name: fadeInUp;
    flex: 0 0 auto;
    -ms-flex: 0 0 50%;
    max-width: 33.33333%;
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

