{% extends 'index.html' %}
{% load static %}
{% load i18n %}
  <!-- about section -->
{% block content %}
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'app/images/about-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                {% trans "Про нас" %}
              </h2>
            </div>
            <p>
              {% trans "Наша місія – надати пасажирам швидкий, зручний та безпечний транспорт, який буде відповідати найвищим стандартам." %}
              {% trans "Наші електротаксі оснащені новітніми безпековими технологіями, що забезпечує максимальний захист пасажирів на дорозі." %}
              {% trans "Крім того, ми гарантуємо швидкий та комфортний трансфер у будь-який час дня та ночі." %}
              {% trans "Наші водії - це професіонали своєї справи, які мають високий рівень досвіду та знань про місто, що забезпечує швидку та безпечну поїздку для наших пасажирів." %}
            </p>
            <a href="">
              {% trans "Дізнатися більше" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
{% endblock %}