<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Admin Dashboard</title>
  <!-- Montserrat Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap"
        rel="stylesheet">
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
        rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}">
  <link
    href="https://cdn.jsdelivr.net/npm/apexcharts@3.41.0/dist/apexcharts.min.css"
    rel="stylesheet">

  <script src="https://kit.fontawesome.com/3f8b10f3dc.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="{% url 'javascript-catalog' %}"></script>
</head>
<body>
<div class="grid-container">

  <!-- Header -->
  <header class="header">
    <div class="menu-icon" onclick="toggleSidebar()">
      <span class="material-icons-outlined">menu</span>
    </div>
    <div class="header-right">
      {% if user.is_authenticated %}
      <span id="account_circle">{{user.first_name}} {{user.last_name}}</span>
      {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="burger-menu">
      <div class="stripes">
        <div class="stripe top-stripe"></div>
        <div class="stripe middle-stripe"></div>
        <div class="stripe bottom-stripe"></div>
      </div>
      <div class="burger-content">
        <button id="changePassword" type="button">{% trans 'Змінити пароль' %}</button>
        <button id="logout-dashboard" type="button">{% trans 'Вийти' %}</button>
      </div>
    </div>
    {% endif %}
    <div id="passwordChangeForm" style="display: none;">
      <span class="close-btn">&times;</span>
      <h2>{% trans 'Після зміни пароля потрібно перезайти.' %}</h2>
      <form id="passwordForm">
        {% csrf_token %}
        <h4>{% trans 'Старий пароль:' %}</h4>
        <input type="password" id="oldPassword" name="oldPassword" required>
        <p class="error-message" id="oldPasswordMessage"
           style="display:none; color: red">{% trans 'Вказано неправильний пароль' %}</p>
        <h4>{% trans 'Новий пароль:' %}</h4>
        <input type="password" id="newPassword" name="newPassword" required>
        <p class="error-message" id="ChangeErrorMessage"
           style="display:none; color: red">{% trans 'Пароль не співпадає' %}</p>
        <h4>{% trans 'Підтвердити новий пароль:' %}</h4>
        <input type="password" id="confirmPassword" name="confirmPassword" required>

        <button id="submitPassword" type="button">{% trans 'Змінити' %}</button>
      </form>
    </div>

  </header>
  <!-- End Header -->

  <!-- Sidebar -->
  <aside id="sidebar">
    <div class="sidebar-title">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img class="logo-1" src="{% static 'app/images/logo-2.svg' %}" width="142" height="50" alt="Ninja Taxi">
        <img class="logo-2" src="{% static 'app/images/logo.svg' %}" width="142" height="50" alt="Ninja Taxi">
      </a>
    </div>
    <ul class="sidebar-list">
      <div id="sidebar-toggle" class="sidebar-toggle">
        <i class="fas fa-angle-double-right"></i>
      </div>
      <li class="sidebar-list-item" onclick="window.location='{% url 'dashboard' %}'">
        <i class="fas fa-home"></i><span>{% trans 'Інформаційна панель' %}</span>
      </li>
      <div id="VehicleBtnContainer">
        <li class="sidebar-list-item">
          <i class="fas fa-car-side"></i><span>{% trans 'Автомобілі' %}</span>
        </li>
      </div>
      {% if partner_group or manager_group %}
      <div id="DriverBtnContainer">
        <li class="sidebar-list-item">
          <i class="fas fa-users"></i><span>{% trans 'Водії' %}</span>
        </li>
      </div>
      <li class="sidebar-list-item admin" data-url="{% url 'admin:index' %}">
        <i class="fas fa-gem"></i><span>{% trans 'Керування автопарком' %}</span>
      </li>
      <div id="updateDatabaseContainer">
        <li class="sidebar-list-item">
          <i class="fas fa-cogs"></i><span>{% trans 'Оновлення бази даних' %}</span>
        </li>
      </div>
      <!-- Модальне вікно -->
      <div id="loadingModal" class="modal">
        <div class="modal-content">
          <p id="loadingMessage">{% trans 'Зачекайте, будь ласка, поки оновлюється база даних...' %}</p>
          <div id="loader" class="loader"></div>
          <div id="checkmark" class="checkmark"></div>
        </div>
      </div>
      {% endif %}
      {% if partner_group %}
      <div id="settingBtnContainer">
        <li class="sidebar-list-item">
          <i class="fas fa-pencil-alt"></i><span>{% trans 'Підключення агрегаторів' %}</span>
        </li>
      </div>
      <div id="workCalendarBtnContainer">
        <li class="sidebar-list-item">
          <i class="fas fa-calendar-alt"></i><span>{% trans 'Розклад водіїв' %}</span>
        </li>
      </div>

      <div id="settingsWindow" class="settings-window">
        <div class="settings-content">
          <span class="close-btn">&times;</span>
          <h2>{% trans 'Компанії агрегаторів' %}</h2>

          <form id="partnerForm">
            {% csrf_token %}
            <h3>{% trans 'Виберіть агрегатор:' %}</h3>
            <div class="partner-options">
              <input type="radio" id="uberOption" name="partner" value="uber" checked>
              <label for="uberOption">Uber</label>

              <input type="radio" id="boltOption" name="partner" value="bolt">
              <label for="boltOption">Bolt</label>

              <input type="radio" id="uklonOption" name="partner" value="uklon">
              <label for="uklonOption">Uklon</label>

              <input type="radio" id="gpsOption" name="partner" value="gps">
              <label for="gpsOption">Gps</label>
            </div>
            <p class="error-message" id="loginErrorMessage"
               style="display:none; color: red">{% trans 'Вказано неправильний логін або пароль' %}</p>
            <input type="text" id="partnerLogin" name="partnerLogin" placeholder={% trans 'Логін' %} required>
            <input class="showPassword partnerPassword" type="password" id="partnerPassword" name="partnerPassword"
                   placeholder={% trans 'Пароль' %} required>
            <div class="loader-login"></div>
          </form>

          <p class="opt-partnerForm">
            <input type="checkbox" class="showPasswordCheckbox" id="showPasswordPartner">
            <label for="showPasswordPartner">{% trans 'Показати пароль' %}</label>
            <button type="button" class="login-btn">{% trans 'Увійти' %}</button>
          </p>
          <div class="login-ok">
            <span class='successful-message'>{% trans "Зв'язок встановлено!" %}</span>
            <button class='logout-btn' data-form='logout'>{% trans "Розірвати зв'язок" %}</button>
          </div>
        </div>
      </div>
      {% endif %}
    </ul>
  </aside>
  <!-- End Sidebar -->

  <!-- Main Manager-->
  <main class="main-container">
    <div class="main-title">
      <h2>{% trans 'Інформаційна панель' %}</h2>
    </div>
    <div class="common-period" id="period-window">
      <label for="period-common">{% trans 'Виберіть період:' %}</label>
      <div class="custom-select">
        <span class="selected-option">{% trans 'Вчора' %}</span>
        <i class="fas fa-angle-down"></i>
        <ul class="options">
          <li data-value="yesterday">{% trans 'Вчора' %}</li>
          <li data-value="current_week">{% trans 'Поточний тиждень' %}</li>
          <li data-value="last_week">{% trans 'Минулий тиждень' %}</li>
          <li data-value="current_month">{% trans 'Поточний місяць' %}</li>
          <li data-value="last_month">{% trans 'Минулий місяць' %}</li>
          <li data-value="current_quarter">{% trans 'Поточний квартал' %}</li>
          <li data-value="last_quarter">{% trans 'Минулий квартал' %}</li>
          <li data-value="custom">{% trans 'Вибрати період >' %}</li>
        </ul>
      </div>
    </div>
    <div id="datePicker" style="display: none;">
      <label for="start_date">{% trans 'Початкова дата:' %}</label>
      <input type="date" id="start_report" name="start_date">
      <label for="end_date">{% trans 'Кінцева дата:' %}</label>
      <input type="date" id="end_report" name="end_date">
      <input class="apply-filter-button" type="button" onclick="applyCustomDateRange()" value={% trans 'Фільтрувати' %}>
    </div>
    <div class="main-cards">
      <div class="card">
        <h2>{% trans 'Загальний дохід' %}</h2>
        <span class="weekly-income-amount"></span>
        <h2>{% trans 'Період' %}</h2>
        <span class="weekly-income-dates"></span>
      </div>
      {% if investor_group %}
      <div class="card">
        <h2>{% trans 'Загальний пробіг' %}</h2>
        <span class="income-km"></span>
        <h2>{% trans 'Період' %}</h2>
        <span class="weekly-income-dates"></span>
      </div>
      <div class="card">
        <h2>{% trans 'Загальні витрати на авто' %}</h2>
        <span class="spending-all"></span>
        <h2>{% trans 'Період' %}</h2>
        <span class="weekly-income-dates"></span>
      </div>
      {% else %}
      <div class="card">
        <h2>{% trans 'Загальна оренда' %}</h2>
        <span class="weekly-income-rent"></span>
        <h2>{% trans 'Загальний пробіг' %}</h2>
        <span class="income-km"></span>
        <h2>{% trans 'Період' %}</h2>
        <span class="weekly-income-dates"></span>
      </div>
      <div class="card">
        <h2>{% trans 'Загальна ефективність авто' %}</h2>
        <span class="income-efficiency"></span>
        <h2>{% trans 'Період' %}</h2>
        <span class="weekly-income-dates"></span>
      </div>
      {% endif %}
    </div>
    <div class="charts">
      {% if investor_group %}
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Дохід' %}</h2>
        <div class="noDataMessage1" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="investor-bar-chart"></div>
      </div>
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Пробіг автомобіля' %}</h2>
        <div class="noDataMessage2" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="investor-area-chart"></div>
      </div>
      {% else %}
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Доходи водіїв' %}</h2>
        <div class="noDataMessage1" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="bar-chart" style="width: 100%; height: 600px;"></div>
      </div>
      <div class="charts-card">
        <h2 class="chart-title">{% trans 'Ефективність автомобіля' %}</h2>
        <div class="noDataMessage2" style="display: none;">{% trans "За обраний період відсутні дані." %}</div>
        <div id="area-chart"></div>
      </div>
      {% endif %}
    </div>
    {% for car in car_piggy_bank %}
    <div class="payback-car">
      <div class="car-item">
        <div class="car-image">
          <img src="{% static 'app/images/index-one-block-2.webp' %}" alt="Зображення авто">
        </div>
        <div class="car-details">
          <p>{% trans 'Номер авто:' %}<br>{{ car.licence_plate }}</p>
          <p>{% trans 'Заробіток:' %}<br>₴ {{ car.kasa }}</p>
          <p>{% trans 'Витрати:' %}<br>₴ {{ car.spending }}</p>
          <div class="progress-bar">
            <div class="progress" style="width: {{ car.progress_percentage }}%; max-width: 100%">
              <div class="progress-label" style="color: #0a0a0a">{{ car.progress_percentage }}%</div>
            </div>
          </div>
          <p>{% trans 'Вартість авто:' %}<br>₴ {{ car.price }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="info-driver">
      <div class="title-driver">
        <h2>{% trans 'Рейтинг Водіїв' %}</h2>
        <h2 class="income-drivers-date"></h2>
      </div>
      <div class="filter">
        <label for="period">{% trans 'Виберіть період:' %}</label>
        <select id="period" name="period">
          <option value="yesterday">{% trans 'Вчора' %}</option>
          <option value="current_week">{% trans 'Поточний тиждень' %}</option>
          <option value="last_week">{% trans 'Минулий тиждень' %}</option>
          <option value="current_month">{% trans 'Поточний місяць' %}</option>
          <option value="last_month">{% trans 'Минулий місяць' %}</option>
          <option value="current_quarter">{% trans 'Поточний квартал' %}</option>
          <option value="last_quarter">{% trans 'Минулий квартал' %}</option>
          <option value="custom">{% trans 'Вибрати період >' %}</option>
        </select>
      </div>
      <div id="datePickerDriver" style="display: none;">
        <label for="start_date">{% trans 'Початкова дата:' %}</label>
        <input type="date" id="start_date" name="start_date">
        <label for="end_date">{% trans 'Кінцева дата:' %}</label>
        <input type="date" id="end_date" name="end_date">
        <input class="apply-filter-button" type="button" value={% trans 'Фільтрувати' %} onclick="customDateRange()">
      </div>
      <table class="driver-table">
        <thead>
        <tr>
          <th class="sortable" data-sort="driver">{% trans 'Водій' %}</th>
          <th class="sortable" data-sort="kasa">{% trans 'Каса' %}</th>
          <th class="sortable" data-sort="orders">{% trans 'Кількість замовлень' %}</th>
          <th class="sortable" data-sort="accept">{% trans 'Відсоток прийнятих замовлень' %}</th>
          <th class="sortable" data-sort="price">{% trans 'Середній чек, грн' %}</th>
          <th class="sortable" data-sort="mileage">{% trans 'Пробіг, км' %}</th>
          <th class="sortable" data-sort="efficiency">{% trans 'Ефективність, грн/км' %}</th>
          <th class="sortable" data-sort="road">{% trans 'Час в дорозі' %}</th>
        </tr>
        </thead>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="driver-container">
      <div class="driver-block">
        <div class="driver-name">
          <h3>Ім'я водія</h3>
          <div class="arrow">▼</div>
        </div>
        <div class="driver-info">
          <p>Каса: $XXXX</p>
          <p>Кількість замовлень: XX</p>
          <p>Відсоток прийнятих замовлень: XX%</p>
          <p>Середній чек, грн: XXX</p>
          <p>Пробіг, км: XXXX</p>
          <p>Ефективність, грн/км: X.XX</p>
          <p>Час в дорозі: XX год.</p>
        </div>
      </div>
    </div>
  </main>
  <!-- End Main Manager-->
</div>

<!-- Scripts -->
<script>
  let ajaxPostUrl = "{% url 'post_request' %}";
  let ajaxGetUrl = "{% url 'get_request' %}";
</script>
<!-- ApexCharts -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.41.0/dist/apexcharts.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js" defer></script>
{% if partner_group %}

<script src="{% static 'dashboard/js/partner.js' %}" defer></script>
{% endif %}
{% if investor_group %}
<script src="{% static 'dashboard/js/scripts-investor.js' %}" defer></script>
{% else %}
<script src="{% static 'dashboard/js/scripts-partner.js' %}" defer></script>

{% endif %}
</body>
</html>
