<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Admin Dashboard</title>
	<!-- Montserrat Font -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>
<body>
<div class="grid-container">

	<!-- Header -->
	<header class="header">
		<div class="menu-icon" onclick="openSidebar()">
			<span class="material-icons-outlined">menu</span>
		</div>
		<div class="header-left">
			<span class="material-icons-outlined">search</span>
		</div>
		<div class="header-right">
			<span class="material-icons-outlined">notifications</span>
			<span class="material-icons-outlined">email</span>
			<span class="material-icons-outlined">account_circle</span>
		</div>
	</header>
	<!-- End Header -->

	<!-- Sidebar -->
	<aside id="sidebar">
		<div class="sidebar-title">
			<a class="navbar-brand" href="{% url 'index' %}">
				<img src="{% static 'app/images/logo.svg' %}" width="142" height="50" alt="Ninja Taxi">
			</a>
		</div>
		<ul class="sidebar-list">
			<li class="sidebar-list-item">
				<a href="{% url 'dashboard' %}">
					<span class="material-icons-outlined"></span> Dashboard
				</a>
			</li>
			<li class="sidebar-list-item">
				<a href="#" target="_blank">
					<span class="material-icons-outlined"></span> Автомобілі
				</a>
			</li>
			<li class="sidebar-list-item">
				<a href="#" target="_blank">
					<span class="material-icons-outlined"></span> Водії
				</a>
			</li>
			<li class="sidebar-list-item">
				<a href="#" target="_blank">
					<span class="material-icons-outlined"></span> Повідомлення
				</a>
			</li>
			<li class="sidebar-list-item">
				<a href="#" target="_blank">
					<span class="material-icons-outlined"></span> Налаштування
				</a>
			</li>
		</ul>
	</aside>
	<!-- End Sidebar -->

	<!-- Main -->
	<main class="main-container">
		<div class="main-title">
			<h2>Інформаційна панель</h2>
		</div>
		<div class="main-cards">
			<div class="card">
				<div class="card-inner">
					<h2>Дохід за період</h2>
					<span class="material-icons-outlined"></span>
				</div>
				<h3 id="weekly-income-dates"></h3>
				<h3 id="weekly-income-amount"></h3>
			</div>
			<div class="card">
				<div class="card-inner">
					<h2>Загальна оренда за період</h2>
					<span class="material-icons-outlined"></span>
				</div>
				<h3>{{ total_distance_rent.1 }} по {{ total_distance_rent.2 }}</h3>
				<h3>Усього: {{ total_distance_rent.0 }} км</h3>
			</div>
			<div class="card">
				<div class="card-inner">
					<h2>Середня ефективність</h2>
					<span class="material-icons-outlined"></span>
				</div>
				<h3>7.8 грн/км</h3>
			</div>
			<div class="card">
				<div class="card-inner">
					<h2>Сповіщення</h2>
					<span class="material-icons-outlined"></span>
				</div>
				<h3>56</h3>
			</div>
		</div>
		<div class="charts">

			<div class="charts-card">
				<h2 class="chart-title">Каса</h2>
				<div id="bar-chart"></div>
				<div class="chart-btns">
					<div class="radio_btn">
						<input id="radio-1" type="radio" name="effective-period" value="1" checked>
						<label for="radio-1">день</label>
					</div>
					<div class="radio_btn">
						<input id="radio-2" type="radio" name="effective-period" value="2">
						<label for="radio-2">тиждень</label>
					</div>
					<div class="radio_btn">
						<input id="radio-3" type="radio" name="effective-period" value="3">
						<label for="radio-3">місяць</label>
					</div>
					<div class="radio_btn">
						<input id="radio-4" type="radio" name="effective-period" value="4">
						<label for="radio-4">квартал</label>
					</div>
				</div>
			</div>
			<div class="charts-card">
				<h2 class="chart-title">Ефективність автомобіля</h2>

				<div class="car-select">
					<select>
						{% for vehicle in get_all_vehicle %}
						<option>{{ vehicle.licence_plate }}</option>
						{% endfor %}
					</select>
				</div>
				<div id="area-chart"></div>
				<div class="chart-btns">
					<div class="radio_btn">
						<input id="radio-5" type="radio" name="effective-period" value="5" checked>
						<label for="radio-5">день</label>
					</div>
					<div class="radio_btn">
						<input id="radio-6" type="radio" name="effective-period" value="6">
						<label for="radio-6">тиждень</label>
					</div>
					<div class="radio_btn">
						<input id="radio-7" type="radio" name="effective-period" value="7">
						<label for="radio-7">місяць</label>
					</div>
					<div class="radio_btn">
						<input id="radio-8" type="radio" name="effective-period" value="8">
						<label for="radio-8">квартал</label>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- End Main -->
</div>

<!-- Scripts -->
<script>
	var ajaxPostUrl = "{% url 'post_request' %}";
  var ajaxGetUrl = "{% url 'get_request' %}";
</script>
<!-- ApexCharts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
<script src="{% static 'dashboard/js/scripts.js' %}"></script>
</body>
</html>