{% load static %}
{% load i18n %}
<!-- info section -->
<section class="info_section">

	<div class="container">
		<div class="info_top ">
			<div class="row ">
				<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="info_detail">
						<a href="{% url 'index' %}">
							<h4>
								Ninja Taxi
							</h4>
						</a>
						<p>
							{% trans "Хочете бути екологічно свідомими та зручно подорожувати містом? Спробуйте електротаксі!" %}
						</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
					<h4>
						{% trans "Наші Контакти" %}
					</h4>
					<div class="contact_nav">
						<a href="">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<span class="location">
                  {% trans "Дніпровська набережна, 13" %}
                </span>
						</a>
						<a href="">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<span class="phone">
                  {% trans "Телефон" %}: +380681373335
                </span>
						</a>
						<a href="mailto:office@ninja-taxi.kyiv.ua">
							<i class="email-icon" aria-hidden="true"></i>
							<span class="envelope">office@ninja-taxi.kyiv.ua</span>
						</a>
					</div>
					{% include '_social_box.html' %}
				</div>
				<div class="col-md-4">
					<div class="info_form">
						<h4>
							{% trans "Підписатись на розсилку" %}
						</h4>
						{% include '_subscribe_form.html' with button=_("Підписатись") form='2' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end info_section -->


<!-- footer section -->
<footer class="footer_section">
	<div class="container">
		<p><img src="{% static 'app/images/layer1.svg' %}" width="33" height="20" alt="">
			<img src="{% static 'app/images/layer2.svg' %}" width="33" height="20" alt="">
			<img src="{% static 'app/images/visa1.svg' %}" width="33" height="20" alt="">
			<img src="{% static 'app/images/Visa_Inc._logo.svg' %}" width="50" height="60" alt="">
			&copy; <span>{% now 'Y' %}</span> All Rights Reserved By
			<a href="https://ninja-taxi.kyiv.ua/">Ninja Taxi</a>
		</p>
	</div>
</footer>
<!-- footer section -->