<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% include 'header.html' %}

{% block content %}
  <div class="content">
    <div class="hero_area">
      <!-- one section -->
      <section class="one_section">
        <div class="left_images">
          <img class="image-map" src="{% static 'app/images/index-one-block-1.png' %}" alt="one image">
          <div class="overlay-image">
            <img src="{% static 'app/images/index-one-block-2.png' %}" alt="two image">
          </div>
        </div>
        <div class="right_content">
          <img src="{% static 'app/images/index-one-block-3.png' %}" alt="three image">
          <h2>ПЕРСОНАЛЬНЕ<br>ЕЛЕКТРО-ТАКСІ</h2>
          <p class="phone"><i class="fas fa-phone"></i> +38(093) 753 10 57</p>
          <p class="text-1">Довірте себе та дитину<br>екологічному та<br>безпечному оператору<br>таксі України</p>
        </div>
        <div class="telegram-button button-block-1">
          <a href="{% url 'send_to_telegram' %}">
            <button>{% trans "Перейти у Ninja бот" %}</button>
          </a>
        </div>
      </section>
      <!-- end one section -->
    </div>

    <!-- about section -->

    <section class="about_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>{% trans "Що таке Ninja Taxi?" %}</h2>
              </div>
              <p class="about-section">
                {% trans "Ninja Taxi - преміальна служба  таксі у Києві, що об'єднує в собі  послугу персональний водій для всієї сім'ї та послуги для інших автопарків." %}
                {% trans "Ми пишаємося можливістю надавати найкращий сервіс, використовуючи передові електрокари, бо ми прагнемо змінити стандарти таксі та залишити позитивний слід у місті." %}
                {% trans "Обираючи Ninja Taxi, ви обираєте комфорт, швидкість та відмінність в обслуговуванні." %}
                {% trans "Наші професійні водії гарантують вашу безпеку та зручність." %}
                {% trans "Ninja Taxi - це ваш партнер у кращих подорожах." %}
              </p>
              <div class="telegram-button">
                <a href="{% url 'send_to_telegram' %}">
                  <button>{% trans "Замовити послугу" %}</button>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="{% static 'app/images/index-one-block-5.png' %}" alt="" loading="lazy">
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end about section -->

    <!-- why section -->

    <section class="services">
      <div class="container">
        <h3 class="services-title">{% trans "НАШІ ПОСЛУГИ" %}</h3>
        <div class="services-grid">
          <div class="services-grid__item col-md-6 col-lg-4">
            <figure
                style="background-image: url({% static 'app/images/vod-ruk.webp' %})"
                class="cover">
              <i>
                <img src="{% static 'app/images/taxi-booking-1.svg' %}"
                     alt="icon" loading="lazy">
              </i>
            </figure>
            <h4 class="services-title-index">{% trans "Ваш персональний водій" %}</h4>
            <p class="service-text limited-lines">
              {% trans "Наші персональні водії - експерти своєї справи, які володіють високим рівнем навичок і досвідом водіння." %}
              {% trans "Вони дбайливо оберігатимуть ваш час і забезпечать швидке пересування містом, дозволяючи вам розслабитись і сконцентруватись на своїх основних справах." %}
              {% trans "Наша послуга персонального водія пропонує гнучкий графік, що відповідає вашим потребам." %}
              {% trans "Незалежно від того, чи потрібно відвезти Вас на зустріч, забрати з аеропорту чи просто покататись містом, наш водій буде готовий забезпечити Вам комфорт і конфіденційність." %}
              {% trans "Зосередьтеся на своїх справах, відпочинку або важливих зустрічах, знімаючи будь-які турботи про дорогу." %}
              {% trans "Наші персональні водії забезпечать вам приємну і безпечну поїздку, де ви будете мати повний контроль над своїм часом." %}
            </p>
            <button class="btn btn-primary">{% trans "Читати далі >" %}</button>
          </div>
          <div class="services-grid__item col-md-6 col-lg-4">
            <figure
                style="background-image: url({% static 'app/images/deti-voditel.webp' %})"
                class="cover">
              <i>
                <img src="{% static 'app/images/business.svg' %}" alt="icon"
                     loading="lazy">
              </i>
            </figure>
            <h4 class="services-title-index">{% trans "Персональний водій для Вашої дитини" %}</h4>
            <p class="service-text limited-lines">
              {% trans "В школу, в садочок, в басейн, на тренування або малювання - ми довеземо Вашу дитину безпечно та вчасно!" %}
              {% trans "Ми створили цю унікальну послугу, щоб забезпечити Вашу дитину найвищим рівнем безпеки та захисту." %}
              {% trans "Наші ninja водії проходять ретельний відбір, професійну підготовку та мають багаторічний досвід водіння." %}
              {% trans "Вони володіють усіма необхідними навичками, щоб безпечно перевозити вашу дитину в будь-якій ситуації." %}
              {% trans "Всі наші машини оснащені дитячим автокріслом, для безпечних перевезень." %}
              {% trans "Одна з головних переваг нашої послуги - особистий підхід до кожного клієнта." %}
              {% trans "Ви особисто можете обрати водія для своєї дитини! Ми розуміємо, що кожна дитина унікальна і має свої потреби та розклад." %}
              {% trans "Тому наші ninja-водії гнучкі і готові адаптуватись до вашого графіку і вимог." %}
              {% trans "Ви можете бути впевнені, що наш водій буде на місці вчасно, а дитина доставлена у пункт призначення без зайвих затримок." %}
            </p>
            <button class="btn btn-primary">{% trans "Читати далі >" %}</button>
          </div>
          <div class="services-grid__item col-md-6 col-lg-4">
            <figure
                style="background-image: url({% static 'app/images/thumb.webp' %})"
                class="cover" loading="lazy">
              <i>
                <img src="{% static 'app/images/city-taxi.svg' %}" alt="icon"
                     loading="lazy">
              </i>
            </figure>
            <h4 class="services-title-index">{% trans "Доставка цінних речей в сейфі машини" %}</h4>
            <p class="service-text limited-lines">
              {% trans "Ми розуміємо, що ваші цінні та особисті речі важливі для вас, і Ви хочете мати спокій, знаючи, що вони зберігаються в безпеці під час перевезення." %}
              {% trans "Наша послуга сейфа в машині надає вам зручну та надійну можливість зберігати цінні речі, такі як гроші, коштовності, документи або електронні пристрої, в спеціально обладнаному безпечному сейфі всередині автомобіля." %}
              {% trans "Наші сейфи мають сучасні технологічні системи безпеки, які гарантують захист ваших цінностей від втрати, крадіжки або несанкціонованого доступу." %}
              {% trans "Ми пильно доглядаємо за нашими сейфами, щоб забезпечити їх надійність і безпеку." %}
              {% trans "Вони виготовлені з міцних матеріалів і оснащені електронними замками або біометричними системами ідентифікації, що забезпечують тільки вам доступ до ваших цінностей." %}
              {% trans "Ваші речі будуть зберігатися в сейфі з найвищим рівнем захисту, навіть під час поїздки." %}
              {% trans "Наші водії - професіонали з високою свідомістю про конфіденційність та приватність." %}
              {% trans "Вони поважатимуть ваші особисті речі та надаватимуть максимальну увагу до їх безпеки." %}
              {% trans "Ви можете мати повну впевненість, що ваші цінності будуть під надійним наглядом під час усієї поїздки." %}
            </p>
            <button class="btn btn-primary">{% trans "Читати далі >" %}</button>
          </div>
          <div class="services-grid__item col-md-6 col-lg-4">
            <figure
                style="background-image: url({% static 'app/images/time.webp' %})"
                class="cover" loading="lazy">
              <i>
                <img src="{% static 'app/images/taxi-2.svg' %}" alt="icon"
                     loading="lazy">
              </i>
            </figure>
            <h4 class="services-title-index">{% trans "Передзамовлення машини на певний час" %}</h4>
            <p class="service-text limited-lines">
              {% trans "Хочете бути впевненими, що у вас завжди буде автомобіль у потрібний час?" %}
              {% trans "Наш сервіс передзамовлення таксі дозволяє забронювати автомобіль на певний час заздалегідь." %}
              {% trans "Це означає, що ви можете спланувати свій маршрут та мати впевненість, що автомобіль буде чекати вас в потрібний момент." %}
              {% trans "Наші водії завжди дотримуються зазначеного часу та місця зустрічі, щоб забезпечити максимальний комфорт та зручність для наших клієнтів." %}
              {% trans "Наш автопарк складається з широкого вибору автомобілів, що відповідають вашим персональним вимогам і стилю." %}
              {% trans "Ми пильно доглядаємо за нашими автомобілями, щоб вони завжди були у чудовому стані та готові до виїзду." %}
              {% trans "Ви можете бути впевнені в своєму комфорті та безпеці, користуючись нашими послугами." %}
              {% trans "Наші водії - досвідчені професіонали з бездоганною репутацією." %}
              {% trans "Вони орієнтовані на ваші потреби, добре знайомі з місцевими дорогами та забезпечують безпечну та зручну поїздку." %}
              {% trans "Ви можете спокійно розраховувати на їх професіоналізм та доброзичливий сервіс." %}
            </p>
            <button class="btn btn-primary">{% trans "Читати далі >" %}</button>
          </div>
        </div>
      </div>
    </section>

    <!-- end why section -->

    <!-- app section -->

    {#  <section class="app_section layout_padding">#}
    {#    <div class="container">#}
    {#      <div class="row">#}
    {#        <div class="col-md-6">#}
    {#          <div class="detail-box">#}
    {#            <div class="heading_container">#}
    {#              <h5>#}
    {#                {% trans "Будь На Зв'язку" %}#}
    {#              </h5>#}
    {#              <h2>{% trans "Завантажуй наш додаток" %}</h2>#}
    {#              <p>{% trans "Мобільний застосунок постійно вдосконалюються та додаються нові функції, які дозволяють замовляти таксі ще більш зручно та ефективно." %}</p>#}
    {#            </div>#}
    {#            <p>#}
    {#              #}
    {#            </p>#}
    {#            <div class="btn-box">#}
    {#              <a href="">#}
    {#                <img src="{% static 'app/images/app_store.png' %}" alt="">#}
    {#              </a>#}
    {#              <a href="">#}
    {#                <img src="{% static 'app/images/google_play.png' %}" alt="">#}
    {#              </a>#}
    {#            </div>#}
    {#          </div>#}
    {#        </div>#}
    {#        <div class="col-md-6">#}
    {#          <div class="img-box">#}
    {#            <img src="{% static 'app/images/app-img.png' %}" alt="">#}
    {#          </div>#}
    {#        </div>#}
    {#      </div>#}
    {#    </div>#}
    {#  </section>#}

    <!-- end app section -->

    <!-- investment section -->

    <section class="investment-section-index layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center">
            <div class="detail-box">
              <div class="heading_container">
                <h2>{% trans "ІНВЕСТУЙ В ЕКОЛОГІЧНЕ МАЙБУТНЄ" %}</h2>
                <p class="investment">
                  {% trans "Ми маємо захопливу новину для всіх, хто бажає зробити інвестицію у сферу електромобілів." %}
                  {% trans "Тепер у вас є унікальна можливість стати частиною нашої революційної послуги і заробити на екологічному та майбутньому орієнтованому бізнесі!" %}
                  {% trans "Якщо ви хочете зайнятися активним інвестуванням, спрямованим на розвиток стійкої транспортної системи, Ninja Taxi - ідеальний варіант." %}
                  {% trans "Завдяки зростаючому попиту на екологічно чисті послуги таксі та нашій репутації надійного партнера, ваші інвестиції матимуть потенціал для прибутковості та стабільного росту." %}
                  {% trans "Які переваги ви можете отримати, інвестуючи в Ninja Taxi? По-перше, ви стаєте співвласником екологічного бізнесу, спрямованого на зміну майбутнього." %}
                  {% trans "Ваш вклад допоможе нам розширити нашу мережу електромобілів та покриття послуг по всьому місту." %}
                  {% trans "Не пропустіть шанс стати інвестором у Ninja Taxi!" %}
                </p>
                <div class="button-container"><a href="{% url 'investment' %}"
                                                 class="btn btn-primary">{% trans "Дізнатися більше про інвестиції" %}</a>
                </div>
              </div>
              <p></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="video-box">
              <a data-youtube href="https://www.youtube.com/watch?v=GCf8iURnec8"
                 title="investor-1"></a>
              <a data-youtube href="https://www.youtube.com/watch?v=2Iyx-fbETsA"
                 title="investor-2"></a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end investment section -->

    <!-- client section -->

    <section class="client_section layout_padding-bottom">
      <div class="container">
        <div class="col-md-9 mx-auto px-0">
          <div id="carouselExample2Controls" class="carousel slide"
               data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExample2Controls" data-slide-to="0"
                  class="active">
                <img src="{% static 'app/images/c1.webp' %}" width="60"
                     height="60" alt="" loading="lazy">
              </li>
              <li data-target="#carouselExample2Controls" data-slide-to="1">
                <img src="{% static 'app/images/c2.webp' %}" width="60"
                     height="60" alt="" loading="lazy">
              </li>
              <li data-target="#carouselExample2Controls" data-slide-to="2">
                <img src="{% static 'app/images/c3.webp' %}" width="60"
                     height="60" alt="" loading="lazy">
              </li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="detail-box">
                  <h3>{% trans "Юлія" %}</h3>
                  <h4>46 {% trans "поїздок" %}</h4>
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    {% trans "Я була приємно здивована електротаксі - комфорт, тиша та екологічність відчувається з перших хвилин поїздки. Це дорожче, ніж традиційні таксі, але я раджу спробувати його хоча б раз, якщо ви можете собі це дозволити." %}
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </p>
                  <div class="rating star-container">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star-half">&#9733;</span>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="detail-box">
                  <h3>{% trans "Євгеній" %}</h3>
                  <h4>127 {% trans "поїздок" %}</h4>
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    {% trans "Я був приємно здивований, коли вперше використав електротаксі - це було так комфортно та тихо. Я відчував себе більш екологічно свідомими, використовуючи таксі, що не виділяє викидів." %}
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </p>
                  <div class="rating star-container">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star-half">&#9733;</span>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="detail-box">
                  <h3>{% trans "Ліза" %}</h3>
                  <h4>8 {% trans "поїздок" %}</h4>
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    {% trans "Я була дуже вражена тихістю та чистотою в електротаксі. Це було дійсно приємним додатком до мого досвіду використання таксі. Я би, безперечно, рекомендувала електротаксі тим, хто знаходиться в пошуку екологічних альтернатив." %}
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </p>
                  <div class="rating star-container">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- end client section -->
{% endblock %}

{% include 'footer.html' %}

<script>
	let parkSettings = {};
	{% if parkSettings %}
		parkSettings = JSON.parse('{{ parkSettings | safe }}');
	{% endif %}
	let apiGoogle = '{{ google_api }}';
	let ajaxPostUrl = "{% url 'post_request' %}";
	let ajaxGetUrl = "{% url 'get_request' %}";
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
        async defer></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js" defer></script>
<script src="https://accounts.google.com/gsi/client" async></script>
<script src="{% static 'app/js/defer-google-maps.js' %}" defer></script>
<script src="{% static 'app/js/jquery.mask.min.js' %}" defer></script>
<script src="{% static 'app/js/cookies.js' %}" defer></script>
<script src="{% static 'app/js/custom.js' %}" defer></script>

<script type="text/javascript">
	(function (d, w, s) {
		let widgetHash = 'nyn8tk2xlz378e7n7kd3', gcw = d.createElement(s);
		gcw.type = 'text/javascript';
		gcw.async = true;
		gcw.src = '//widgets.binotel.com/getcall/widgets/' + widgetHash + '.js';
		let sn = d.getElementsByTagName(s)[0];
		sn.parentNode.insertBefore(gcw, sn);
	})(document, window, 'script');
</script>

</body>
</html>