body {
  margin: 0;
  padding: 0;
}

/* Заголовки використовують Montserrat */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* Інший текст використовує Open Sans */
p, span, div {
  font-family: 'Open Sans', sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  color: #53785E;
}

.grid-container {
  display: grid;
  grid-template-columns: 60px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
  transition: grid-template-columns 1s;
}


/* ---------- HEADER ---------- */
.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}


/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #A1E8B9;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 30px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 55px;
  list-style-type: none;
}

.sidebar-list-item {
  display: flex;
  align-items: center;
  padding: 20px 20px 25px 20px;
  font-size: 18px;
  color: #141E17;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-responsive {
  top: 70px;
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

.fas {
	padding-right: 10px;
	color: #fff;
}

.sidebar-toggle {
  position: fixed;
  top: 80px;
  left: 22px;
  cursor: pointer;
  z-index: 999;
}

#sidebar .sidebar-list-item span {
	display: none;
	transition: opacity 0.5s;
	opacity: 0;
}

img.logo-2 {
	display: none;
}

img.logo-1 {
	position: absolute;
	width: 60px;
	height: auto;
	left: 0px;
	top: 12px;
}

/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title h2 {
	color: #141E17;
	font-family: Montserrat;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

label {
  color: #26392C;
	font-size: 23px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  margin-right: 10px;
}

.custom-select,
.custom-select-drivers{
  position: relative;
  display: inline-block;
  width: 215px;
  top: 35px;
}

.custom-select-drivers {
	top: 15px;
}

.selected-option,
.selected-option-drivers {
	color: #53785E;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: flex;
	width: 215px;
  padding: 10px;
  border: 0px solid #ccc;
  border-radius: 62px;
  box-shadow: 0 6px 5px 2px #ccc;
  cursor: pointer;
}

.options,
.options-drivers {
	width: 200px;
	position: absolute;
	top: 60%;
	left: 7px;
	display: none;
	background-color: #fff;
	list-style: none;
	padding: 10px;
	margin: 0px;
	border: 0px solid #ccc;
	border-radius: 25px;
	box-shadow: 0 6px 5px 2px #ccc;
	z-index: 1;
}

.options li,
.options-drivers li {
	color: #53785E;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  padding: 2px;
  cursor: pointer;
}

.custom-select.active .options,
.custom-select-drivers.active .options-drivers {
  display: block;
}

i.fas.fa-angle-down {
	position: relative;
	top: -36px;
	color: #EC6323;
	font-size: 25px;
	margin-left: 195px;
	margin-top: 0px;
	margin-right: 0;
	padding: 0;
	cursor: pointer;
}

#datePicker,
#datePickerDriver {
  display: none;
  margin-top: 20px;
}

#start_date,
#end_date,
#start_report,
#end_report {
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
  border: 0px solid #ccc;
	border-radius: 25px;
	box-shadow: 0 6px 5px 2px #ccc;
}

input[type="button"] {
	padding: 8px 16px;
	font-size: 16px;
	background-color: #EC6323;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.main-cards,
.main-cards-partner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 30px 0;
}

.card,
.card-partner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 5px;
}

.main-cards .card span,
.main-cards-partner .card-partner h3 {
  font-size: 22px;
  opacity: 0.77;
}

.main-cards .card h2 {
  font-size: 24px;
  margin: 0;
}

.card:first-child,
.card-partner:first-child {
  background-color: #1858A6;
}

.card:nth-child(1),
.card-partner:nth-child(1) {
  background-color: #A1E8B9;
}

.card:nth-child(2),
.card-partner:nth-child(2) {
  background-color: #A1E8B9;
}

.card:nth-child(3),
.card-partner:nth-child(3) {
  background-color: #A1E8B9;
}

.card-inner,
.card-inner-partner {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -20px;
  margin-bottom: -5px;
}

.charts {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
}

.charts-card {
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.charts-card h2 {
  margin-bottom: 20px;
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.car-select {
  position: absolute;
  left: 190px;
  top: 91px;
  z-index: 99;
}

.car-select-2 {
  position: absolute;
  right: 170px;
  top: 91px;
  z-index: 99;
}

.car-select select, .car-select-2 select {
  outline: 0 none;
  background: #000;
  color: #fff;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid #505050;
}

.chart-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.chart-btns .radio_btn {
  flex: 1;
  text-align: center;
}

.chart-btns .radio_btn input:checked + label {
  background: #fff;
  color: #000;
}

.chart-btns .radio_btn input {
  display: none
}

.chart-btns .radio_btn label {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}

/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}


/* Small <= 768px */

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}


/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }

  #account_circle {
		font-size: 30px !important;
	}

	.sidebar-toggle{
		display: none;
	}

	.sidebar-list {
		margin-top: 0;
	}

	.chart-title {
		font-size: 20px;
	}

	.car-select {
		left: 0;
		top: 100px;
	}

	#area-chart {
    top: 35px;
	}

	.driver-block {
		background-color: white !important;
	}

	.title-driver h2 {
		font-size: 22px !important;
	}

	.filter label {
		font-size: 18px;
	}

	.custom-select-drivers {
    right: 7px;
	}
}

/*vehicle-block*/

.payback-car {
  display: none;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px 10px 15px 10px;
}

.car-item {
  display: flex;
  width: 100%;
  position: relative;
  border-radius: 5px;
}

.car-item::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #A1E8B9;
}

.car-image {
	width: 170px;
	border-radius: 62px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.car-image img {
	margin: 10px 10px 0px 10px;
  width: 100px;
}

.car-image p {
	margin: 0 0 10px 0;
	text-align: center;
	color: #26392C;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.car-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.car-details p {
  display: inline-block;
  white-space: nowrap;
  padding: 10px 10px;
  margin: 0;
  width: auto;
  color: #26392C;
	font-size: 20px;
	font-style: normal;
	font-weight: 200;
	line-height: normal;
}

.car-details p span {
	color: #26392C;
	font-size: 20px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.car-details h3 {
  margin-top: 0;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  background-color: #EC6323;
  border-radius: 10px;
  box-sizing: border-box;
}

.progress-label {
  padding-left: 5px;
  color: #fff !important;
}

@media (max-width: 700px) {
  .car-details {
    flex-direction: column;
  }
  #reset-button {
    display: none;
  }
}

/*!* Стилі для вікна з налаштуваннями(логін партнерів) *!*/
.loader-login {
  display: none;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.settings-window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.settings-content,
#passwordChangeForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #A1E8B9;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 450px;
  width: 90%;
  z-index: 897;
}

.settings-content h2 {
  text-align: center;
  color: #141E17;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.settings-content h3 {
  color: #26392C;
	font-size: 23px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.settings-content form {
  margin-bottom: 20px;
}

.settings-content form label,
#passwordChangeForm form label {
  padding: 5px 10px;
	border-radius: 10px;
	display: block;
	margin-bottom: 5px;
	margin-right: 0;
	background-color: white;
	color: #53785E;
	text-align: center;
	font-size: 23px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.settings-content form input,
#passwordChangeForm form input {
  width: 100%;
  padding: 15px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.settings-content .login-btn,
#passwordForm #submitPassword {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: #EC6323;
  color: #fff;
  cursor: pointer;
  margin-left: auto;
  display: block;

  color: #FFF;
	text-align: center;
	font-size: 23px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.logout-btn {
  display: block;
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  background-color: #EC6323;
  cursor: pointer;
  margin-left: auto;
  color: #FFF;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.settings-content .login-btn:hover {
  background-color: #36a936;
}

.close-btn {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.opt-partnerForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.showPasswordCheckbox {
	display: none;
}

.showPasswordCheckbox + label::before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 50%;
	margin-right: 10px;
}

.showPasswordCheckbox:checked + label::before {
	background-color: #EC6323;
}

.partner-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 20px 20px;
}

.partner-options input {
  display: none;
}


.partner-options label:hover {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.partner-options input:checked + label {
  padding: 5px 10px;
	background-color: white;
	color: #53785E;
	border: 2px solid #EC6323;
	border-radius: 10px;
}

.login-ok {
  display: none;
  margin-top: 50px;
}

.successful-message {
  position: absolute;
  bottom: 0;
  left: 29%;
  transform: translateX(-50%);
  margin-bottom: 35px;
  color: #26392C;
	text-align: center;
	font-size: 23px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.header-right {
  display: flex;
  align-items: center;
}

#account_circle {
  color: #141E17;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

#partnerLogin::placeholder,
#partnerPassword::placeholder {
	color: rgba(38, 57, 44, 0.78);
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

/*burger-menu*/

.burger-menu {
  position: relative;
  width: 60px;
  height: 20px;
  cursor: pointer;
}

#logout-dashboard, #changePassword {
	padding: 5px 15px;
	border-radius: 10px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
	width: calc(100% - 5px);
	border: 1px solid #EC6323;
	margin-bottom: 10px;
}


.burger-icon,
.burger-icon:before,
.burger-icon:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #53785E;
  position: absolute;
  transition: transform 0.2s ease-in-out;
  margin-top: 5px;
}

.burger-icon:before {
  top: 5px;
}

.burger-icon:after {
  bottom: 10px;
}

.burger-content {
	display: none;
	position: absolute;
	top: 163%;
	right: -6px;
	background-color: #A1E8B9;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
}

.burger-menu.open .burger-content {
  display: block;
}

.danger-message {
  display: none;
  color: #d50000;
}


.stripes {
	margin-top: 5px;
	margin-right: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 35px;
	height: 22px;
}

.top-stripe {
	width: 35px;
	height: 8px;
	border-radius: 25px;
	background-color: #EC6323;
}

.middle-stripe {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
	width: 25px;
	height: 8px;
	border-radius: 25px;
	background-color: #EC6323;
}

.bottom-stripe {
	width: 35px;
	height: 8px;
	border-radius: 25px;
	background-color: #EC6323;
}


/* Стилізація контейнера "info-driver" */

.info-driver {
  display: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.filter {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-bottom: 20px;
}

.info-driver table {
  width: 100%;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
	background-color: #A1E8B9;
	padding: 10px;
	text-align: left;
	color: #141E17;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

tr:nth-child(even) {
  background-color: #E8FBEE;
}

tr:nth-child(odd) {
  background-color: #E8FBEE;
}

tr {
  border-bottom: 3px solid #A1E8B9;
}

td {
  padding: 8px;
  color: #000;
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h2, table {
  margin-bottom: 0;
}

th, td {
  border-bottom: 1px solid #ddd;
}

.driver-container {
  display: none;
}

.driver-block {
  background-color: #38423B;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.driver-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.arrow {
  font-size: 18px;
  transform: rotate(0deg);
  transition: transform 0.2s;
}

.driver-info {
  display: none;
  margin-top: 10px;
}

.driver-block.active .arrow {
  transform: rotate(180deg);
}

.driver-block.active .driver-info {
  display: block;
}

@media (max-width: 900px) {
  .driver-table {
    display: none;
  }
}

#reset-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #3e8f3e;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 85%;
}

form {
  margin-bottom: 20px;
}

select:focus {
  border-color: #3e8f3e;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #A1E8B9;
	margin: 10% auto;
	padding: 50px;
	border: 1px solid #888;
	border-radius: 62px;
	width: 50%;
}

.loading-content {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 62px;
}

.loading-content p {
	text-align: center;
	color: #141E17;
	font-size: 23px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin: 0;
}

.checkmark {
  width: 40px;
  height: 100px;
  position: relative;
  display: none;
}

.checkmark::before {
  content: "";
	position: absolute;
	top: 20%;
	left: 35px;
	width: 15px;
	height: 35px;
	border-bottom: 3px solid #4CAF50;
	border-right: 3px solid #4CAF50;
	transform: rotate(45deg);
}

.loader {
  border: 4px solid #f3f3f3;
	border-top: 4px solid grey;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 2s linear infinite;
	margin: 0px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title-driver {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.title-driver h2 {
	color: #141E17;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.title-driver .income-drivers-date{
	color: #EC6323;
}

#slider-container {
	display: flex;
	margin-top: 15px;
  width: 100%;
  position: relative;
  border: 0px solid #ccc;
	border-radius: 62px;
	box-shadow: 0 6px 5px 2px #ccc;
}

#slider {
	width: 90%;
	-webkit-appearance: none;
	background: transparent;
	display: block;
	margin: 0 auto;
}


#slider::-webkit-slider-thumb {
  width: 150px;
	height: 24px;
	background-color: #EC6323;
	border: 0px solid #EC6323;
	border-radius: 25px;
	cursor: grab;
	-webkit-appearance: none;
	appearance: none;
	margin-top: -5px;
}

#slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: #EC6323;
  border: 5px solid #EC6323;
  border-radius: 5px;
  cursor: grab;
}

#slider::-ms-thumb {
  width: 15px;
  height: 15px;
  background-color: #EC6323;
  border: 5px solid #EC6323;
  border-radius: 5px;
  cursor: grab;
}

#slider::-webkit-slider-runnable-track {
  height: 20px;
  border-radius: 25px;
}

#slider::-moz-range-track {
  height: 20px;
  border-radius: 5px;
}

#slider::-ms-track {
  height: 20px;
  border-radius: 5px;
}

#slider-container i {
  font-size: 25px;
  color: #EC6323;
  margin: 0 10px;
  padding: 0;
}


.custom-dropdown {
	position: relative;
	display: inline-block;
}

.custom-dropdown .selected-option {
	border: 1px solid #ccc;
	padding: 10px;
	cursor: pointer;
	width: 215px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.custom-dropdown i.fas.fa-angle-down {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	color: #EC6323;
	font-size: 25px;
	margin: 0;
	padding: 0;
}

.dropdown-options {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	display: none;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 25px;
	border-top: none;
	width: 100%;
	z-index: 1;
}

.dropdown-options li {
	padding: 5px 0 5px 10px;
	color: #53785E;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	cursor: pointer;
}

.custom-dropdown i.fas.fa-angle-down.icon-visible {
    display: inline-block;
}
