<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Admin Dashboard</title>
	<!-- Montserrat Font -->
	<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet">
	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
				rel="stylesheet">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}">
	<link
			href="https://cdn.jsdelivr.net/npm/apexcharts@3.41.0/dist/apexcharts.min.css"
			rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script
			src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>
<body>
<div class="grid-container">

	<!-- Header -->
	<header class="header">
		<div class="menu-icon" onclick="openSidebar()">
			<span class="material-icons-outlined">menu</span>
		</div>
{#		<div class="header-left">#}
{#			<span class="material-icons-outlined">search</span>#}
{#		</div>#}
		<div class="header-right">
			<span id="account_circle"></span>
		</div>
		<div class="burger-menu">
			<div class="burger-content">
				<button id="changePassword" type="button">{% trans 'Змінити пароль' %}</button>
				<button id="logout-dashboard" type="button">{% trans 'Вийти' %}</button>
			</div>
			<div class="burger-icon"></div>
		</div>
		<div id="passwordChangeForm" style="display: none;">
			<span class="close-btn">&times;</span>
			<h2>{% trans 'Після зміни пароля потрібно перезайти.' %}</h2>
			<form id="passwordForm">
				{% csrf_token %}
				<h4>{% trans 'Старий пароль:' %}</h4>
				<input type="password" id="oldPassword" name="oldPassword" required>
				<p class="error-message" id="oldPasswordMessage" style="display:none; color: red">{% trans 'Вказано неправильний пароль' %}</p>
				<h4>{% trans 'Новий пароль:' %}</h4>
				<input type="password" id="newPassword" name="newPassword" required>
				<p class="error-message" id="ChangeErrorMessage" style="display:none; color: red">{% trans 'Пароль не співпадає' %}</p>
				<h4>{% trans 'Підтвердити новий пароль:' %}</h4>
				<input type="password" id="confirmPassword" name="confirmPassword" required>

				<button id="submitPassword" type="button">{% trans 'Змінити' %}</button>
			</form>
		</div>

	</header>
	<!-- End Header -->

	<!-- Sidebar -->
	<aside id="sidebar">
		<div class="sidebar-title">
			<a class="navbar-brand" href="{% url 'index' %}">
				<img src="{% static 'app/images/logo.svg' %}" width="142" height="50"
						 alt="Ninja Taxi">
			</a>
		</div>
		<ul class="sidebar-list">
			<li class="sidebar-list-item">
				<a href="{% url 'dashboard_investor' %}" class="dashboardHome">
					<span class="material-icons-outlined"></span>{% trans 'Інформаційна панель' %}
				</a>
			</li>
			<li class="sidebar-list-item">
				<span id="investorVehicleBtn" class="clickable">
					<span class="material-icons-outlined"></span>{% trans 'Автомобілі' %}
				</span>
			</li>
{#			<li class="sidebar-list-item">#}
{#				<a href="#" target="_blank">#}
{#					<span class="material-icons-outlined"></span> Повідомлення#}
{#				</a>#}
{#			</li>#}
		</ul>
	</aside>
	<!-- End Sidebar -->

	<!-- Main -->
	<main class="main-container">
		<div class="main-title">
			<h2>{% trans 'Інформаційна панель Інвестора' %}</h2>
		</div>
		<div class="main-cards">
			<div class="card">
				<div class="card-inner">
					<h2>{% trans 'Загальний дохід авто' %}</h2>
					<span class="material-icons-outlined">&#8372;</span><br>
				</div>
				<h3 id="income-amount">{% trans 'грн.' %}</h3>
			</div>
			<div class="card">
				<div class="card-inner">
					<h2>{% trans 'Загальний кілометраж авто' %}</h2>
					<span class="material-icons-outlined">alt_route</span><br>
				</div>
				<h3 id="income-km"></h3>
			</div>
			<div class="card">
				<div class="card-inner">
					<h2>{% trans 'Загальні витрати на авто' %}</h2>
					<span class="material-icons-outlined">money_off</span><br>
				</div>
				<h3 id="spending-all"></h3>
			</div>
{#			<div class="card">#}
{#				<div class="card-inner">#}
{#					<h2>Сповіщення</h2>#}
{#					<span class="material-icons-outlined">email</span>#}
{#				</div>#}
{#				<h3>56</h3>#}
{#			</div>#}
		</div>

		<div class="charts">
			<div class="charts-card">
				<h2 class="chart-title">{% trans 'Дохід' %}</h2>
				<div id="bar-chart"></div>
				<div class="chart-btns">
					<div class="radio_btn">
						<input id="radio-1" type="radio" name="effective-amount" value="d"
									 checked>
						<label for="radio-1">{% trans 'день' %}</label>
					</div>
					<div class="radio_btn">
						<input id="radio-2" type="radio" name="effective-amount" value="w">
						<label for="radio-2">{% trans 'тиждень' %}</label>
					</div>
					<div class="radio_btn">
						<input id="radio-3" type="radio" name="effective-amount" value="m">
						<label for="radio-3">{% trans 'місяць' %}</label>
					</div>
					<div class="radio_btn">
						<input id="radio-4" type="radio" name="effective-amount" value="q">
						<label for="radio-4">{% trans 'поточний квартал' %}</label>
					</div>
				</div>
			</div>

			<div class="charts-card">
				<h2 class="chart-title">{% trans 'Пробіг автомобіля' %}</h2>
				<div id="area-chart"></div>
				<div class="chart-btns">
					<div class="radio_btn">
						<input id="radio-5" type="radio" name="effective-period" value="w"
									 checked>
						<label for="radio-5">{% trans 'тиждень' %}</label>
					</div>
					<div class="radio_btn">
						<input id="radio-6" type="radio" name="effective-period" value="m">
						<label for="radio-6">{% trans 'місяць' %}</label>
					</div>
					<div class="radio_btn">
						<input id="radio-7" type="radio" name="effective-period" value="q">
						<label for="radio-7">{% trans 'поточний квартал' %}</label>
					</div>
				</div>
			</div>
		</div>
		{% for car in car_piggy_bank %}
		<div class="payback-car">
			<div class="car-item">
				<div class="car-image">
					<img src="{% static 'app/images/slider-img-1.webp' %}" alt="Зображення авто">
				</div>
				<div class="car-details">
					<p>{% trans 'Номер авто:' %}<br>{{ car.licence_plate }}</p>
					<p>{% trans 'Заробіток:' %}<br>₴ {{ car.total_kasa }}</p>
					<p>{% trans 'Витрати:' %}<br>₴ {{ car.total_spent }}</p>
					<div class="progress-bar">
						<div class="progress" style="width: {{ car.progress_percentage }}%; max-width: 100%">
							<div class="progress-label">{{ car.progress_percentage }}%</div>
						</div>
					</div>
					<p>{% trans 'Повна сума авто:' %}<br>₴ {{ car.purchase_price }}</p>
				</div>
			</div>
			</div>
		{% endfor %}
	</main>
</div>

<!-- Scripts -->
<script>
	let ajaxPostUrl = "{% url 'post_request' %}";
	let ajaxGetUrl = "{% url 'get_request' %}";
</script>
<!-- ApexCharts -->
<script
		src="https://cdn.jsdelivr.net/npm/apexcharts@3.41.0/dist/apexcharts.min.js"></script>
<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
<script src="{% static 'dashboard/js/scripts-investor.js' %}"></script>
</body>
</html>